@mixin transition($duration, $element) {
    transition: $element $duration ease-in-out;
    -webkit-transition: $element $duration;
    -moz-transition: $element $duration;
    -ms-transition: $element $duration;
    -o-transition: $element $duration;
}

@mixin breakpoint($breakpoint, $direction: max) {
    
    @if map-has-key($breakpoints, $breakpoint) { 
        $breakpoint-values: map-get($breakpoints, $breakpoint);
        $breakpoint-min: map-get($breakpoint-values, min);
        $breakpoint-max: map-get($breakpoint-values, max);

        @if $direction == min {
            @media (min-width: $breakpoint-min) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint-max) {
                @content;
            }
        }
    
    } @else {
        
        @if $direction == min {
            @media (min-width: $breakpoint) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint) {
                @content;
            }
        }
    }
}