$primary-color: #e68305;
$light-gray: #2b2c30;
$lighten-gray: #74767d;
$main-text: #fff;

// responsive Breakpoints
$breakpoints: (
    sm: (
        min: 576px,
        max: 575.98px,
    ),
    md: (
        min: 768px,
        max: 767.98px
    ),
);